<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.sab.training.rcp.demo.texteditor.MyTextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="sab"
            id="com.sab.training.rcp.demo.simpleTextEditor"
            name="Simple Text Editoir">
      </editor>
   </extension>

</plugin>
